.footer {
  padding: 100px 20px 60px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;

  background: #1f2a44;
  border-radius: 28px;

  padding: 80px 40px;
  text-align: center;

  color: #ffffff;
}

/* Heading */
.footer-container h3 {
  font-size: 32px;
  font-weight: 500;
}

/* Text */
.footer-container p {
  margin-top: 14px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

/* Links */
.footer-links {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 26px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
